<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Camera is needed for the QR scanner inherited from :shared. -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_admin"
        android:roundIcon="@mipmap/ic_launcher_admin"
        android:label="@string/admin_app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false"
        android:theme="@style/Theme.HerdScoutAdmin"
        tools:targetApi="34">

        <activity
            android:name=".AdminActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout"
            android:theme="@style/Theme.HerdScoutAdmin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.herdscout.shared.QrScanActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HerdScoutAdmin" />
    </application>
</manifest>
